<h1>{{ title }}</h1>
<form action="" method="post">
    {% csrf_token %}

    {% if return_book %}
        <p>Book: {{ borrower.book }}</p>
        {{ form.book.as_hidden }}

        <p>Member: {{ borrower.member }}</p>
        {{ form.member.as_hidden }}

        <p>Borrow Date: {{ borrower.borrow_date }}</p>
        {{ form.borrow_date.as_hidden }}

        <p>Due Date: {{ borrower.due_date }}</p>
        {{ form.due_date.as_hidden }}
    {% else %}
        {{ form.as_p }}
    {% endif %}

    <button type="submit">{{ title }}</button>
</form>